In [5]:
import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import statistics as stats

AttributeError: module 'matplotlib' has no attribute 'get_data_path'

In [2]:
df=pd.read_csv('finalTrain.csv')

In [3]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [4]:
# Calculate Distance between resturant and location
R =6371
def deg_to_rad(degrees):
    return degrees * (np.pi/180)

In [5]:
def distcalculate(lat1, lon1, lat2, lon2):
    d_lat = deg_to_rad(lat2-lat1)
    d_lon = deg_to_rad(lon2-lon1)
    a = np.sin(d_lat/2)**2 + np.cos(deg_to_rad(lat1)) * np.cos(deg_to_rad(lat2)) * np.sin(d_lon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    return R * c

In [6]:
df['distance'] = np.nan

In [7]:
for i in range(len(df)):
    df.loc[i, 'distance'] = distcalculate(df.loc[i, 'Restaurant_latitude'], 
                                        df.loc[i, 'Restaurant_longitude'], 
                                        df.loc[i, 'Delivery_location_latitude'], 
                                        df.loc[i, 'Delivery_location_longitude'])

In [8]:
df=df.drop(labels=['Restaurant_latitude','Restaurant_longitude','Delivery_location_latitude','Delivery_location_longitude'], axis=1)

In [9]:
df['Day']=df['Order_Date'].str.split('-').str[0]
df['Month']=df['Order_Date'].str.split('-').str[1].str.split('-').str[0]
df['Year']=df['Order_Date'].str.split('-').str[2]

In [10]:
df['Day']= df['Day'].astype('int')
df['Month']= df['Month'].astype('int')
df['Year']= df['Year'].astype('int')

In [11]:
df=df.drop(labels=['ID','Delivery_person_ID','Order_Date','Time_Orderd','Time_Order_picked'], axis=1)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Delivery_person_Age      43730 non-null  float64
 1   Delivery_person_Ratings  43676 non-null  float64
 2   Weather_conditions       44968 non-null  object
 3   Road_traffic_density     44983 non-null  object
 4   Vehicle_condition        45584 non-null  int64
 5   Type_of_order            45584 non-null  object
 6   Type_of_vehicle          45584 non-null  object
 7   multiple_deliveries      44591 non-null  float64
 8   Festival                 45356 non-null  object
 9   City                     44384 non-null  object
 10  Time_taken (min)         45584 non-null  int64
 11  distance                 45584 non-null  float64
 12  Day                      45584 non-null  int32
 13  Month                    45584 non-null  int32
 14  Year                     45584 non-null  int32
dtypes: float64(4), int32(3), int64(2), object(6)
memory usage: 4.7+ MB

In [13]:
df.to_csv('final_cleaned_train_V2.csv')

In [14]:
df.head(2)

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),distance,Day,Month,Year
0,36.0,4.2,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,10.280582,12,2,2022
1,21.0,4.7,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,6.242319,13,2,2022

In [15]:
df_new = df.copy()

In [16]:
target ='Time_taken (min)'
df_new_target = [target]

In [17]:
target_Delv_Time_Name = 'Time_taken (min)'
#Drop if any unwanted columns like ID, Target etc
drop_columns = [target_Delv_Time_Name]
df_new = df.drop(columns=drop_columns, axis=1)

In [18]:
df_new.head(1)

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,distance,Day,Month,Year
0,36.0,4.2,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,10.280582,12,2,2022

In [19]:
df_new['Time_taken (min)'] = np.nan

In [20]:
df_new['Time_taken (min)'] = df['Time_taken (min)']

In [21]:
df_new.head(1)

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,distance,Day,Month,Year,Time_taken (min)
0,36.0,4.2,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,10.280582,12,2,2022,46

In [22]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Delivery_person_Age      43730 non-null  float64
 1   Delivery_person_Ratings  43676 non-null  float64
 2   Weather_conditions       44968 non-null  object
 3   Road_traffic_density     44983 non-null  object
 4   Vehicle_condition        45584 non-null  int64
 5   Type_of_order            45584 non-null  object
 6   Type_of_vehicle          45584 non-null  object
 7   multiple_deliveries      44591 non-null  float64
 8   Festival                 45356 non-null  object
 9   City                     44384 non-null  object
 10  distance                 45584 non-null  float64
 11  Day                      45584 non-null  int32
 12  Month                    45584 non-null  int32
 13  Year                     45584 non-null  int32
 14  Time_taken (min)         45584 non-null  int64
dtypes: float64(4), int32(3), int64(2), object(6)
memory usage: 4.7+ MB

In [23]:
df_new.to_csv('final_cleaned_train_V3.csv')

In [27]:
df_new.iloc[:,1:]

,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,distance,Day,Month,Year,Time_taken (min)
0,4.2,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,10.280582,12,2,2022,46
1,4.7,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,6.242319,13,2,2022,23
2,4.7,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,13.787860,4,3,2022,21
3,4.3,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,2.930258,13,2,2022,20
4,4.7,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,19.396618,14,2,2022,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,4.8,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,1.489846,24,3,2022,32
45580,4.6,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,11.007735,16,2,2022,36
45581,4.9,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,4.657195,11,3,2022,16
45582,4.7,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,6.232393,7,3,2022,26
45583,4.9,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,12.074396,2,3,2022,36